h1,p, body, input {
    padding: 0;
    margin: 0;
}

body {
    background-color: #EAE8FE;
}
#wrapper {
    width: 748px;
    margin: 0 auto;
    text-align: center;
}


header h1 {
    display: none;
}
.logo_contain {
    width: 436px;
    height: 204px;
    margin: auto;
    margin-bottom: 43px;
}
.logo {
    width: 386px;
    height: 180px;
}
main {
    display: flex;
}
.bending-machine {
    background: #FFFFFF;
    width: 360px;
    height: 545px;
    margin-right: 28px;
    padding: 31px 27px 28px 27px;
}
.bending-menu h2 {
    display: none;
}
.bending-machine .bending-menu ul {
    display: flex;
    flex-wrap: wrap;
    background-color: hotpink;
    justify-content: space-between;
    
    
}
.bending-machine .list {
    width: 94px;
    height: 130px;
    border-radius: 10px;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    border: 1px solid #000;
    
}


.bending-machine .list:hover {
    /* outline: 3px solid #6327FE; */
    border: 3px solid #6327FE;
    border-radius: 10px;
    width: 94px;
    height: 130px;
    
    /* margin: -1px; */
}
.bending-machine .list:nth-child(-n+3) {
    margin-bottom: 12px;
}


.bending-machine .list img {
    width: 36px;
    height: 65px;
    margin: 11px 29px 6px 29px;
}
.bending-machine .list p {
    margin-right: 10px;
    margin-bottom: 7px;
    margin-left: 11px;
}

.bending-machine .bending-menu ul li > button {
    background: #6327FE;
    border-radius: 50px;
    width: 70px;
    
    font-family: 'Noto Sans KR';
    font-weight: 500;
    font-style: normal;
    font-size: 1.2rem;
    line-height: 100%;
    color: #FFFFFF;
    padding: 5px 16px 5px 15px;
    margin-right: 12px;
    margin-left: 12px;
}

.bending-money {
    height: 75px;
    
    margin-top: 20px;
    margin-bottom: 11px;
    display: flex;
    flex-wrap: wrap;
}

.bending-money .money {
    width: 200px;
    height: 33px;
    background: #EAE8FE;
    margin-right: 12px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
}
.bending-money .change {
    margin-bottom: 11px;
    border: none;
    font-size: 1.4rem;
}
.bending-money .money.change {
    padding: 6px 10px 7px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.bending-money .minus-money > span {
    text-align: right;
}
.bending-money .btn {
    width: 94px;
    height: 33px;
    background: #FFFFFF;
    
    /* border: none; */
    /* border: 1px solid #BDBDBD; */
    border-radius: 5px;
    font-size: 1.3rem;
    line-height: 19px;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.3));
}

.bending-money .in {
    background-color: #FFFFFF;

}

.bending-money input {
    width: 197px;
    height: 30px;
    border: 1px solid #BDBDBD;
    box-sizing : border-box;

}
.bending-money #input-in::placeholder {
    color: #BDBDBD;
    padding-top: 6px;
    padding-bottom: 8px;
    padding-left: 6px;
    
}

.bending-get {
    display: flex;
    flex-wrap: wrap;
}
.bending-get .get-list {
    width: 200px;
    height: 106px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    background: #EAE8FE;
    width: 200px;
    display: flex;
    padding: 12px 6px 6px 10px;
    overflow: auto;
    
    /* overflow-y: scroll;
    scrollbar-color: rebeccapurple green; */
}
.bending-get .get-list::-webkit-scrollbar {
    width: 12px;
    
}
.bending-get .get-list::-webkit-scrollbar-thumb {
    /* width: 4px; */
    height: 79px;
    border-radius: 50px;
    background-clip: padding-box;
    /* padding-right: 3px; */
    background-color: #ffffff;
    background-clip: padding-box;
    border: 4px solid transparent;
}
.bending-get .get-list::-webkit-scrollbar-track {
    height: 106px;
    background: transparent;
} 

/* .bending-get .get-list::-webkit-scrollbar-track {
    background-color: transparent;
    
} */

.bending-get .drink {
    display: flex;
    width: 170px;
    height: 46px;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin-bottom: 6px;
    padding: 6px 8px 7px 10px;
    justify-content: space-between;
    
}
.bending-get .drink img {
    width: 18px;
    height: 33px;
}
.bending-get .drink .get-num {
    width: 30px;
    height: 30px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    position: relative;
    top: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.bending-get .get-btn {
    width: 94px;
    padding: 43px 35px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 19px;
    background: #6327FE;
    color: #FFFFFF;
    /* filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.3)); */
    border-radius: 5px;
    margin-left: 12px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    
}

.bending-my-money {
    background-color: darkorange;
    width: 360px;
    height: 50px;
    background: #FFFFFF;
    padding: 9px 27px;
}
.bending-my-money div {
    width: 306px;
    height: 32px;
    
    padding: 6px 10px;
    border-radius: 5px;
    background: #EAE8FE;
}
.bending-choose {
    margin-top: 20px;
    background: #FFFFFF;
    width: 360px;
    height: 474px;
    /* padding: 12px 18px 12px 12px; */
    padding: 25px 27px 26px 27px;
}
.bending-choose .blind {

}

.bending-choose .get-contain {
    width: 304px;
    height: 362px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    background: #EAE8FE;
    display: flex;
    flex-direction: column;
    padding: 12px 18px 6px 12px;
    /* margin: 13px 27px 26px 27px; */
    margin-top: 13px;
    margin-bottom: 6px;
    overflow-y: scroll;
}

.bending-choose .drink.get {
    display: flex;
    width: 276px;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin-bottom: 6px;
    padding: 6px 8px 7px 10px;
    justify-content: space-between;
    
}
.bending-choose img {
    width: 18px;
    height: 33px;
}
.bending-choose p {
    /* position: absolute; */
}
.bending-choose .get-num {
    width: 30px;
    height: 30px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    position: relative;
    top: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}