h1,
p,
body,
input {
    padding: 0;
    margin: 0;
}

body {
    background-color: #EAE8FE;
}

#wrapper {
    width: 748px;
    margin: 0 auto;
    text-align: center;
}


header h1 {
    display: none;
}

.logo_contain {
    width: 436px;
    height: 204px;
    margin: auto;
    margin-bottom: 43px;
}

.logo {
    width: 386px;
    height: 180px;
}

main {
    display: flex;
}

.bending-machine {
    background: #FFFFFF;
    width: 360px;
    height: 545px;
    margin-right: 28px;
    padding: 31px 27px 28px 27px;
}

.bending-machine h2 {
    display: none;
}

.bending-machine .bending-menu {
    /* margin: 31px 24px 17px 24px; */
}

.bending-machine .bending-menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bending-machine .list {
    width: 94px;
    height: 130px;
    border-radius: 10px;
    background-color: #FFFFFF;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
    position: relative;
    z-index: 0.9;
    
}

.bending-machine .list:hover {
    /* position: relative;
    width: 100px;
    height: 136px; */
    outline: 3px solid #6327FE;
    border-radius: 10px;
    /* transform: scale(1); */
}




.bending-machine .list:nth-child(-n+3) {
    margin-bottom: 12px;

}

/* 품절 이미지 구현 */
.bending-machine .list.sold-out::after {
    content: "";
    background-image: url(./images/Sold-out.png);
    background-repeat: no-repeat;
    background-size: 57.51px 44.85px;
    background-position: center;
    position: absolute;
    color: transparent;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}

.bending-machine .list img {
    width: 36px;
    height: 65px;
    margin: 11px 29px 6px 29px;
}

.bending-machine .list p {
    margin-right: 10px;
    margin-bottom: 7px;
    margin-left: 11px;
    font-weight: 500;
    font-size: 0.9rem;
    /* line-height: 1.3rem; */
    color: #333333;
}

.bending-machine .bending-menu ul li>button {
    background: #6327FE;
    border-radius: 50px;
    width: 70px;

    font-family: 'Noto Sans KR';
    font-weight: 500;
    font-style: normal;
    font-size: 1.2rem;
    line-height: 100%;
    color: #FFFFFF;
    padding: 5px 16px 5px 15px;
    margin-right: 12px;
    margin-left: 12px;
    margin-bottom: 9px;
    outline: none;
}



.bending-money {
    height: 75px;
    margin-top: 20px;
    margin-bottom: 11px;
    display: flex;
    flex-wrap: wrap;
}

.bending-money .money {
    width: 200px;
    height: 33px;
    background: #EAE8FE;
    margin-right: 12px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
}

.bending-money .change {
    margin-bottom: 11px;
    border: none;
    font-size: 1.4rem;
}

.bending-money .money.change {
    padding: 6px 10px 7px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.bending-money .minus-money>span {
    text-align: right;
}

.bending-money .btn {
    width: 94px;
    height: 33px;
    background: #FFFFFF;

    /* border: none; */
    /* border: 1px solid #BDBDBD; */
    border-radius: 5px;
    font-size: 1.3rem;
    line-height: 19px;
    /* filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.3)); */
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
}

.bending-money .in {
    background-color: #FFFFFF;

}

.bending-money input {
    width: 197px;
    height: 30px;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;

}

.bending-money #input-in::placeholder {
    color: #BDBDBD;
    padding-top: 6px;
    padding-bottom: 8px;
    padding-left: 6px;

}

.bending-get {
    display: flex;
    flex-wrap: wrap;

}

.bending-get .get-list {
    width: 200px;
    height: 106px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    background: #EAE8FE;
    width: 200px;
    display: flex;
    padding: 12px 6px 6px 10px;
    /* overflow: auto; */
    overflow-y: scroll;
    flex-direction: column;
    /* overflow-y: scroll;
    scrollbar-color: rebeccapurple green; */
}

.scroll::-webkit-scrollbar {
    width: 12px;

}

.scroll::-webkit-scrollbar-thumb {
    height: 79px;
    border-radius: 50px;
    background-clip: padding-box;
    background-color: #ffffff;
    border: 4px solid transparent;
}

.scroll::-webkit-scrollbar-track {
    height: 106px;
    background: transparent;
}




.bending-get .drink {
    display: flex;
    width: 170px;
    height: 46px;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin-bottom: 6px;
    padding: 6px 8px 7px 10px;
    justify-content: space-between;
    align-items: center;
}

.bending-get .drink img {
    width: 18px;
    height: 33px;
    margin-right: 10px;
}

.bending-get .drink p {
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 13px;
    color: #333333;
    flex-grow: 1;
    text-align: left;
}

.bending-get .drink .get-num {
    width: 30px;
    height: 30px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    position: relative;
    top: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 20px;
    color: #000000;
}


.bending-get .get-btn {
    width: 94px;
    padding: 43px 35px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 19px;
    background: #6327FE;
    color: #FFFFFF;
    /* filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.3)); */
    border-radius: 5px;
    margin-left: 12px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);

}

.bending-my-money {
    background-color: darkorange;
    width: 360px;
    height: 50px;
    background: #FFFFFF;
    padding: 9px 27px;
}

.bending-my-money div {
    width: 306px;
    height: 32px;

    padding: 6px 10px;
    border-radius: 5px;
    background: #EAE8FE;
    display: flex;
    justify-content: space-between;
}

.bending-my-money span:nth-child(1) {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 20px;

}

.bending-my-money span:nth-child(2) {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 20px;
    display: flex;

}

.bending-choose {
    margin-top: 20px;
    background: #FFFFFF;
    width: 360px;
    height: 474px;
    /* padding: 12px 18px 12px 12px; */
    padding: 25px 27px 26px 27px;
}

.bending-choose p {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 20px;
}

.bending-choose .get-contain {
    width: 304px;
    height: 362px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    background: #EAE8FE;
    display: flex;
    flex-direction: column;
    padding: 12px 18px 6px 12px;
    /* margin: 13px 27px 26px 27px; */
    margin-top: 13px;
    margin-bottom: 6px;
    overflow-y: scroll;
}

.bending-choose .drink.get {
    display: flex;
    width: 276px;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin-bottom: 6px;
    padding: 6px 8px 7px 10px;
    justify-content: space-between;
    align-items: center;
}

.bending-choose img {
    width: 18px;
    height: 33px;
    margin-right: 10px;
}

.bending-choose .drink.get p {
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 13px;
    flex-grow: 1;
    text-align: left;
    color: #333333;

}

.bending-choose .get-num {
    width: 30px;
    height: 30px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    position: relative;
    top: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    line-height: 20px;
    font-size: 1.4rem;
}

.bending-choose .get-contain+.total-money {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 17px;
    text-align: right;

}